<div   class="iconsdiv" fxLayoutAlign="space-between end" fxLayout="row" fxFlex="70">
    <button id="Remaind" matTooltip="Remind me" mat-icon-button >
        <mat-icon>
            <img id="img" class="imgicons" src="../../../assets/img/icons/reminder.png" />
        </mat-icon>
    </button>

      <!-- Collaborator icon -->
      <button id="coll" mat-icon-button matTooltip="Collaborator" >
        <mat-icon>
            <img id="img" class="imgicons" src="../../../assets/img/icons/collab.png" />
        </mat-icon>
      </button>

       <!-- color button -->
  <button id="col" mat-icon-button matTooltip="Change color">
    <img id="img" class="imgicons" src="../../../assets/img/icons/color.png" />
  </button>

    <!-- add image button -->
  <button mat-icon-button  matTooltip="Add image">
    <img id="img" class="imgicons" src="../../../assets/img/icons/image.png" />
  </button>

  <!-- archive button -->
  
    <button id="arc"  mat-icon-button matTooltip="Archive">
      <img id="img" class="imgicons" src="../../../assets/img/icons/archive.png" />
    </button>

   <!-- more menu button -->
   <button id="menu" mat-icon-button  colour="basic" matTooltip="more">
    <img id="img" class="imgicons" src="../../../assets/img/icons/more.png" />
  </button>

</div>