<div   class="iconsdiv" fxLayoutAlign="space-between end" fxLayout="row" fxFlex="45">
    <button id="Remaind" matTooltip="Remind me" mat-icon-button *ngIf="!isTrash" >
        <mat-icon>
            <img id="img" class="imgicons" src="../../../assets/img/icons/reminder.png" />
        </mat-icon>
    </button>

      <!-- Collaborator icon -->
      <button id="coll" mat-icon-button matTooltip="Collaborator" *ngIf="!isTrash">
        <mat-icon>
            <img id="img" class="imgicons" src="../../../assets/img/icons/collab.png" />
        </mat-icon>
      </button>

       <!-- color button -->
  <button id="col" mat-icon-button matTooltip="Change color"  [matMenuTriggerFor]="colorlist" *ngIf="!isTrash">
    <img id="img" class="imgicons" src="../../../assets/img/icons/color.png" />
  </button>

  <mat-menu #colorlist="matMenu" >
    <ng-template matMenuContent>
      <div class="buttons">
        <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 3px" *ngFor="let colors of colorArray">
          <div *ngFor="let color of colors">
            <button class="colors" [ngStyle]="{ 'background-color': color.color }"
                mat-mini-fab (click)="changeNotesColor(color.color)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-menu>

    <!-- add image button -->
  <button mat-icon-button  matTooltip="Add image" *ngIf="!isTrash">
    <img id="img" class="imgicons" src="../../../assets/img/icons/image.png" />
  </button>
  

  <!-- archive button -->
  
    <button id="arc" (click)="changeArchiveStatus()" *ngIf="!isArchive && !isTrash" mat-icon-button matTooltip="Archive" >
      <img id="img" class="imgicons" src="../../../assets/img/icons/archive.png" />
    </button>
    <button mat-icon-button *ngIf="isArchive && !isTrash" matTooltip="Unarchive" (click)="changeArchiveStatus()"> 
      <img id="unarchive" src="../../../assets/img/icons/unarchive.png" width="20px" height="20px">
  </button>
  <button mat-icon-button matTooltip="Delete Forever"  *ngIf="isTrash"> 
    <img src="../../../assets/img/icons/deletedforver.png" width="20px" height="20px">
</button>
<button mat-icon-button matTooltip="Restore" (click)="trashNote()" *ngIf="isTrash"> 
    <img src="../../../assets/img/icons/restore.png" width="20px" height="20px">
</button>

   <!-- more menu button -->
   <button id="menu" mat-icon-button [matMenuTriggerFor]="menu" colour="basic" matTooltip="more" *ngIf="!isTrash">
    <img id="img" class="imgicons" src="../../../assets/img/icons/more.png" />
  </button>

 

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="trashNote()">
      Delete
    </button>
    <button mat-menu-item >
      <span>Add Lebel</span>
    </button>
   
   
    
    
  </mat-menu>

</div>