<!-- <div  class="trash" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column">
    "Your archived notes appear here"
    <button fxFlexOffset="5" class="emt-trash" fxLayoutAlign='center center' mat-button>archive</button>
  </div> -->
<!-- <div class="notesContainer_Main"  fxLayout="row" fxFlex.xs="100"> -->
  
    <div class="display"    fxFlex.xs="100">
      <app-display-notes [items]="notesList"  (updateNoteEvent)="recievedUpdatedData($event)"></app-display-notes>
    </div> 
 
     
