/* .trash{
    color: #202124;
    cursor: default;
    
    font-size: 17px;
    font-style: italic;
    align-items: center;
  
    padding-top: 24px;
    padding-bottom: 8px;
}
.emt-trash{
    background-color: rgb(251, 251, 251);
    color: #1a73e8;
} */
/* .notesContainer_Main{
    border: solid red;
} */
/* .notesContainer_Main {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
} */

.display {
    margin-left: 150px;
    margin-top: 50px;
   
   
    /* display: flex;
    flex-wrap: wrap; */
}
