.title {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: black;
    text-align: center;
}
.subtitle {
    font-family: 'Times New Roman';
    font-weight: bold;
    color: black;
   text-align: center;
}
/* .container{
    margin-bottom: 20px;
} */
.card {

    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: auto;
    width: 35%;
    padding-bottom: 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
    border-radius: 2%
}


.email {
    margin-left: 5%;
    width: 90%;
}

.s {
    margin-left: 64%
}

.login {
    margin-left: 20%;
    color: #0D47A1
}



.f {
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.u {
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.n {
    color: #FF8F00;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.d {
    color: #01579B;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.o {
    color: #33691E;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.oo {
    color: #D50000;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center
}

.fundoo {
    /* margin-left: 39%; */
    font-family: sans-serif;
    text-align: center;
}
.button {
    margin-left: 45%;
    background-color: #0D47A1;
    
}
         

 

.link {
    color: blue;
    margin-left: 10%;
    font-weight: bold;
    font-size: medium;
}

.for-button {
    display: flex;
    margin-top: 20px;
    /* border: 1px solid red; */
   
   
    /* justify-content: space-between; */
}