.card {
    width: 35%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.459);
  }
  .fundoo {
    text-align: center;
    font-family: "Times New Roman";
    font: bold;
    margin-top: 05%;
    font-size: 200%;
  }
  .f {
    color: blue;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
  }
  
  .u {
    color: red;
    font-weight: bold; 
    text-align: center;
  }
  
  .n {
    color: yellow;
    font-weight: bold; 
    text-align: center;
  }
  
  .d {
    color: blue;
    font-weight: bold; 
    text-align: center;
  }
  
  .o {
    color: green;
    font-weight: bold; 
    text-align: center;
  }
  
  .oo {
    color: red;
    font-weight: bold; 
    text-align: center;
  }
  .reset-title {
    font-family: "Times New Roman";
    font-size: 120%;
    text-align: center;
  }
  .sub-title {
    font-family: "Times New Roman";
    font-size: 100%;
    text-align: center;
  }
  .new-pass {
    /* border: 1px solid red; */
    align-items: center;
    width: 50%;
    margin-left:15%;
  }
  .confirm{
    align-self: auto;
  }
  /* #confirm-button {
    background-color: blue;
    font-family: "Gill Sans";
    margin-left: 40%;
  } */
           
  #confirm-button{ 
    margin-left: 75%;
    right: 0;
    top: 0;

    
  }
 
  .link {
    color: blue;

  }
  #password{
    width: 400px;
  }
  #confirm{
    width: 400px;

  }
  .buttons{
    /* border: 1px solid black; */
    width: 100%;
  }
  .showpassword{
    /* border: 1px solid royalblue; */
    margin-left: 15%;
  }