<mat-card class="card">
  <form [formGroup]="resetForm" (ngSubmit)="reset()">

    <mat-card-title class="fundoo" fxLayoutAlign="center center">
        <span class="f">F</span>
        <span class="u">u</span>
        <span class="n">n</span>
        <span class="d">d</span>
        <span class="o">o</span>
        <span class="o">o</span>
    </mat-card-title>

    <mat-card-title class="reset-title">Update your password</mat-card-title>

    <mat-card-subtitle class="sub-title">To continue to your FundooAccount</mat-card-subtitle>

    <div class="new-pass">

        <mat-form-field appearance="outline" id="password">
            <mat-label> new Password</mat-label>
            <input matInput [type]='inputText' placeholder="password" formControlName="newpass"/>
            <mat-error>new password is required</mat-error>
          </mat-form-field>

        <mat-form-field appearance="outline" id="confirm">
            <mat-label> confirm Password</mat-label>
            <input matInput placeholder="confirm"  formControlName="confirmpass"/>
            <mat-error>confirm password is required</mat-error>
          </mat-form-field>

        </div>

          <!-- buttons -->
          <div class="showpassword">
            <mat-checkbox class="example-margin" (change)="showPassword($event)" >show password</mat-checkbox>
          </div>
          
          <div class="buttons">
        

          <button id="confirm-button" type="submit" mat-raised-button color="primary"  >
            Update
          </button>
          
        </div>
    
      </form>
</mat-card>